.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  overflow: hidden;
  min-height: auto;
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #132F4C;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 60px;
}

.App-link {
  color: #61dafb;
}

